body
	font-family 'Proxima Nova', sans-serif
	position relative
	>header
	>.content
	>footer
		position relative
	>header
		z-index 10
	>.content
		z-index 5
	>footer
		z-index 1

.rich-text
	margin-bottom 20px
	@import "assets/styles/rich-text"
