
.blue
	color #183f82
.grey
	color #b0b0b0

.dotted
	border-bottom 1px dotted
.dashed
	border-bottom 1px dashed

.font-normal
	font-weight normal !important

.font-light
	font-weight 300 !important

.inline-block
	display inline-block !important

.abs
	position absolute

.abs-helper
	position relative
	white-space nowrap
	margin-left 15px
	.abs
		top 0
		left 0

.error-message
	font-size 14px
	line-height 18px
	color #ff2a00

.nowrap
.nobr
	white-space nowrap

.no-underline
	text-decoration none
	&:hover
		text-decoration underline

.text-overflow
	overflow ellipsis
	display block

.invisible
	visibility hidden

.border-none
	border 0 none

.center-inner
	center-block()

.padding-0
	padding 0px !important
.padding-10
	padding 10px !important
.padding-20
	padding 20px !important
.padding-30
	padding 30px !important

.offset-0
	margin 0 !important
.offset-top-0
	margin-top 0 !important
.offset-bottom-0
	margin-bottom 0 !important

.offset-top-10
	margin-top 10px !important
.offset-top-20
	margin-top 20px !important
.offset-top-30
	margin-top 30px !important

.offset-bottom-10
	margin-bottom 10px !important
.offset-bottom-20
	margin-bottom 20px !important
.offset-bottom-30
	margin-bottom 30px !important

.offset-top--10
	margin-top -10px !important
.offset-bottom--10
	margin-bottom -10px !important
